/target/
**/*.rs.bk
.DS_Store
/tests/usecases/fixtures/tree/
/tests/usecases/fixtures/scan.pdf
/tests/usecases/fixtures/other.pdf
/fuzz/target/
/fuzz/artifacts/
/fuzz/corpus/
/fuzz/coverage/
/docker/out/
